#app, body, window {
    background-color: #EBEBEB;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #515151;
    padding: 0;
    margin: 0;
}

#title {
    float: left;
    width: 40%;
}

#title h1, #title h2, #title h3 {
    text-align: center
}

#title h1 {
    margin-top: 0;
    padding-top: 30px;
    font-size: 2.5em;
}
#title h2 {
    font-size: 2em;
}

#title #background {
    max-width: 100%;
}

#content {
    padding: 20px 40px 20px 60px;
    max-width: 1010px;
    padding-top: 100px;
}

#content ul {
}


@media only screen and (max-width: 1100px) {
    #content {
        padding-top: 70px;
    }    
}

@media only screen and (max-width: 1000px) {
    #content {
        padding-top: 50px;
    }    
}


@media only screen and (max-width: 900px) {
    #title {
        float: none;
        width: auto;
    }
    #content {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 600px) {
}